
.image__description{
    /* display: flex; */
    margin-top: 70px;
    align-items: center;
    /* gap: 50px; */
}

.image__box{
/* width: 100%; */
}


.profile_pic{
    height: 600px;
    width: 500px;
    object-fit: cover;

}



.wrapper{
    display: inline-flex;
    list-style: none;
    margin-top: 20px;
}

.wrapper .icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s
    cubic-bezier(0.68, -0.55, 0.125, 1.55);
}


.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    background: #fff;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(199, 82, 82, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    position: absolute;
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


.wrapper .linkedIn:hover,
.wrapper .linkedIn:hover .tooltip,
.wrapper .linkedIn:hover .tooltip::before{
    background-color: #3b5998;
    color: #fff;
}


.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background-color: #4074e4;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, 
    #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}




















@media screen and (max-width: 576px) {

.profile_pic{
    height: 300px;
    width: fit-content;
    margin-bottom: 30px;
}
  }