.topics{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
}

.article_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.article_image{
    height: 100px;
    width: 100%;
   
}
.contents{
    /* width: 50vw; */
}

.banner{
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px;
    width: 100%;

}
.article_banner_image{
    height: 300px;
    width: 100%;
    object-position: center;
}

.second_header_text{
    align-items: center;

}
.Article_banner {
    margin-top: 50px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(34, 11, 28, 0.73)), url('../Assets/grittly.png') ;
    color: white;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_text{
    font-size: 50px;
    font-weight: 600 !important;
}

@media screen and (max-width: 576px) {
    /* .article_banner_image{
        height: 100px;
        width: min-content;
    } */

.Article_banner{
    height: 300px;
}
    .article_section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .header_text{
        font-size: 25px;
        font-weight: 600 !important;
    }
}