.footer__container{
    background-color: rgb(2, 2, 19);
    width: 100%;
    padding: 0 auto;
}

.social__links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socials{
    display: flex;
    gap: 20px;
}
.social{
    font-size: 50px;
    color: white;
}
